@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }
  .flex-start{
    @apply flex flex-col items-start justify-center p-8;
  }

  .navTextColor{
    @apply font-semibold text-[15px] hover:text-orange-1;
  }
  .hero-button{
    @apply py-4 px-8 md:px-12 rounded-full uppercase;
  }
 
}

.herocardHeader{
  @apply text-[20px] md:text-[25px] font-bold font-serif;
}

.herocardText{
  @apply  mt-2 max-w-[270px] font-sans;
}

.glassmorphism {
  background: rgba(243, 207, 207, 0.8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(4px);
}
.glassmorphism2 {
  background: rgba(18, 17, 17, 0.25);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}



