@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .navTextColor{
    @apply font-semibold text-[15px] hover:text-orange-1;
  }
  .hero-button{
    @apply py-4 px-8 md:px-12 rounded-full uppercase;
  }
 
}


